body
	margin: 0
	padding: 0
	background: #f7f7f7




#blueberry
	display: none
	//align-items: center
	justify-content: center
	flex-wrap: wrap
	//padding: 8px 10px
	//background: #e8e8e8
	font-family: sans-serif
	border-bottom: 2px solid
	

	&.active
		display: flex

	> div
		margin-right: 40px
		display: flex
		align-items: center
		flex-direction: column
		
		&:last-child
			margin-right: 0

		> p.titleTools
			display: block

			min-width: 80px

			margin:
				top: 0
				bottom: 5px

			padding: 5px 10px

			border-radius: 0 0 6px 6px
			background: #000

			font-size: 14px
			text-transform: uppercase
			letter-spacing: 1px
			text-align: center
			color: #fff
			


		ul
			margin: 
				top: 5px
				bottom: 0

			padding: 0

			list-style-type: none
			
			display: flex
			justify-content: center
			
			li
				display: flex
				align-items: center
				justify-content: center
				flex: none

				width: 40px
				height: 26px

				margin-right: 8px

				border-radius: 6px 6px 0 0
				border: 2px solid #000
				border-bottom: none
				
				cursor: pointer
				font-size: 14px
				font-weight: bold
				
				

				img
					width: 14px
					display: block


				&:last-child
					margin-right: 0



	.logoBlueberry
		margin-right: 50px
		flex: none
		display: flex
		align-items: center
		justify-content: center

		a

			img
				display: block
				height: 40px

	
	.imgBlueberry
		ul

			li
				


	.themeBlueberry
		ul
			li
			
				text-align: center


	.resetSettingsBlueberry
		flex-direction: row
		justify-content: center
		height: 40px
		width: 100px	
		margin: 
			right: 0
			left: 50px

		cursor: pointer
		border: 2px solid #000
		border-right: none

		p
			margin: 0
			font-size: 12px
			line-height: 1.3em
			letter-spacing: 1.3px
			text-transform: uppercase
			font-weight: bold
			text-align: center



	.blueberry-btn
		flex-direction: row
		justify-content: center
		height: 40px
		width: 100px
		cursor: pointer
		border: 2px solid #000

		p
			margin: 0
			font-size: 12px
			line-height: 1.3em
			letter-spacing: 1.3px
			text-transform: uppercase
			font-weight: bold
			text-align: center


.active-active


.disabledImg-blueberry
	img
		display: none

	div
		background-image: none !important


.grayImg-blueberry
	img
		filter: grayscale(100%)












