body
	margin: 0
	padding: 0
	background: #f7f7f7


// BLUEBERRY

$brs: 6px

.blueberry
	display: none
	align-items: center
	justify-content: center
	flex-wrap: wrap
	column-gap: 30px

	font-family: sans-serif
	border-bottom: 2px solid
	padding: 0 10px

	*
		box-sizing: border-box
	
	&.active
		display: flex

	&-module
		display: flex
		align-items: center
		flex-direction: column

		&_title
			width: 100%
			padding: 8px 10px
			margin-bottom: 10px

			border-radius: 0 0 $brs $brs
			user-select: none
		
			font-size: 14px
			text-transform: uppercase
			letter-spacing: 1px
			text-align: center
			color: #fff
			background: #000


		&_list
			display: flex
			column-gap: 8px

			> div
				display: flex
				align-items: center
				justify-content: center
				flex: none

				width: 46px
				height: 30px

				border: 2px solid #000
				border-bottom: none
				cursor: pointer
				user-select: none

				border-radius: $brs $brs 0 0
				transition: background .2s, color .2s
				font-weight: bold

				&:hover
					background: #000
					color: #fff

					svg
						fill: #fff

				svg
					width: 16px
					transition: fill .2s

		&_btn
			height: 40px
			width: 100px
			text-align: center
			border: 2px solid
			border-radius: $brs
			font-size: 14px
			display: flex
			align-items: center
			justify-content: center
			font-weight: bold

			user-select: none
			transition: background .2s, color .2s, border-color .2s
			cursor: pointer

			&:hover	
				background: #000
				border-color: #000
				color: #fff

							
				
	// модуль логотип
	&-logo
		margin-right: 20px
		a
			img
				display: block
				height: 30px




///////////////////////////// КЛАССЫ МОДУЛЕЙ /////////////////////////////


////////////////////// ИЗОБРАЖЕНИЯ //////////////////////

// отключить изображения
.img-off__blueberry
	img
		&:not(.skip-blueberry)
			opacity: 0

	div
		background-image: none !important


// чёрно-белые изображения
.img-gray__blueberry
	img
		filter: grayscale(100%)


////////////////////// ТЕМЫ //////////////////////

// белая тема
$bgThemeWhite: #fff
$colorThemeWhite: #000

.theme-white__blueberry
	background: #fff

// чёрная тема
$bgThemeBlack: #000
$colorThemeBlack: #fff
$colorHoverThemeBlack: yellow

.theme-black__blueberry
	background: $bgThemeBlack
	color: $colorThemeBlack

	*
		color: $colorThemeBlack

	a
		text-decoration: none
		border-bottom: 1px dashed $colorThemeBlack
		&:hover
			color: $colorHoverThemeBlack

// синяя тема
$bgThemeBlue: blue
$colorThemeBlue: yellow

.theme-blue__blueberry
	background: blue













